@using MyRecipes.Common
@model MyRecipes.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item">
                Recipes: @Model.RecipesCount
            </li>
            <li class="list-group-item">
                Categories: @Model.CategoriesCount
            </li>
            <li class="list-group-item">
                Images: @Model.ImagesCount
            </li>
            <li class="list-group-item">
                Ingredients: @Model.IngredientsCount
            </li>
        </ul>
    </div>
</div>
